
@{
    ViewBag.Title = "Index";
}
<div id="app"></div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/react/react-dom.min.js"></script>

<script src="~/Scripts/App/Components/Teams.jsx"></script>
<script src="~/Scripts/App/App.jsx"></script>


